body {
    margin: 0;
    padding: 0;
}

.ideas {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder;
}

.bodyTexts {
    font-family: 'DM Sans', sans-serif;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;

    /* background-color: black;
    background-image:
    radial-gradient(circle at top right,
    rgb(255, 255, 255),
    black 45%); */

    background: linear-gradient(-45deg, #ffffff, #000000, #000000, #000000, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#green {
    color: rgb(66, 155, 66);
    font-family: 'Chakra Petch', sans-serif;

}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(49, 48, 48);
    color: white;
}

/* #projects {
    height: 100vh;
    background-color: rgb(255, 255, 255);
} */

#contacts {
    height: 100vh;
    background-color: rgb(49, 48, 48);
}

#formContainer {
    height: 30rem;
    width: 90%;
    border-radius: 20px;
}

img {
    border-radius: 10%;
}

.social-icons a {
    color: rgb(66, 155, 66);
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: 18%;
    width: 50px;
    height: 50px;
    color: black;

}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: 15%;
    width: 50px;
    height: 50px;
    color: black;
}

#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: 13%;
    width: 50px;
    height: 50px;
    color: black;
}

#box {
    animation: 2s ease-in infinite animated;
}

#box1 {
    animation: 2s infinite animated1;
}

#box2 {
    animation: 2s infinite animated2;
}

@keyframes animated {
    0% {
        position: absolute;
        bottom: 18%;
    }

    50% {
        position: absolute;
        bottom: 15%;
        filter: grayscale(1);
    }

    100% {
        position: absolute;
        bottom: 18%;
    }
}

@keyframes animated1 {
    0% {
        position: absolute;
        bottom: 15%;
    }

    50% {
        position: absolute;
        bottom: 11%;
        filter: grayscale(1);
    }

    100% {
        position: absolute;
        bottom: 15%;
    }
}

@keyframes animated2 {
    0% {
        position: absolute;
        bottom: 13%;
    }

    50% {
        position: absolute;
        bottom: 6%;
        filter: grayscale(1);
    }

    100% {
        position: absolute;
        bottom: 13%;
    }
}